


$colorOfpurpul:rgba(131, 10, 111, 0.933);
$sizeofword:500;
$Scolorofinfo:rgba(187, 161, 247, 0.8); 



@mixin Size_color ($colorOfpurpul,$sizeofword,$Scolorofinfo){
  color:  $colorOfpurpul;
  font-weight:$sizeofword ;
  box-shadow: 0 0 2px $Scolorofinfo;  
}


html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
 background-color: #353535;
}


.wrapper{
width:100rem;
margin: 0 auto;
background-color:$colorOfpurpul ;
min-height: 80vh;
display: flex;
border-radius: 5px;
box-shadow: 0px 0px 8px $Scolorofinfo ;
align-items: center;
flex-direction: column;
 }


.play{
 background-color:$Scolorofinfo;
  border-bottom: 2px solid rgba(193, 173, 241, 0.8); 
  padding: 8px 10px;
  margin-right: 15px;
  font-size: $sizeofword;
  border-radius: 4px;
  color:$colorOfpurpul;
  cursor: pointer;
}

.info{
  position: relative;
  top: 6rem;
  width: 78rem;
  height: 28rem;
  margin-left: 20px;
  padding: .4rem;
  margin-top: 4px;
  color:white;
  font-size: 1.7rem;
 }

.info p
{
    margin: .7px;
}

.show
{
  border: 2px solid rgba(193, 173, 241, 0.8); 
  border-top: $colorOfpurpul; 
  padding: 3px;
  border-radius: .4rem;
  
}


.hide
{
  font-size: 1.8rem;
  cursor: pointer;
  padding-left: 1.7rem;
}

#pop-up{
	    position:fixed;
    opacity: 0;
    top:0;
    left:0; 
	/* fill the entire viewport */
    width:100%;
    height:100%;    
   	background-color:$Scolorofinfo;    
}

#pop-up div{
	  position:absolute;
    font-size: 1.8rem;
	  max-width:500px;
  	min-width:300px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    padding:60px;
    background-color: $colorOfpurpul;
    color:white;
    border:solid 2px rgb(100, 32, 91);
    box-shadow:0px 0px 5px rgb(80, 10, 42), 
    5px 5px 5px rgb(65, 8, 43),
    5px 5px 5px rgb(65, 8, 43);
  	border-radius:2px;
}


#btn-close{
  position:absolute;
  top:10px;
  right:10px;
  font-weight: bold;
  background-color: white;
  color:$colorOfpurpul;
  border:solid 1px rgb(65, 12, 51);
  cursor:pointer;
  /* ensure pointer events will apply to the button */
  pointer-events: all;
}

/* LAYOUT */
#side{
 position: relative;
 top: 3rem;
 color:$colorOfpurpul;
 font-size:3rem;
 background-color:$Scolorofinfo;
 box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
 padding: 9px;
 border-radius: 5px;
 text-align: center;
 animation: myfirst 5s linear 3s infinite alternate;

 }
 
@keyframes myfirst {
  0%   {color:red}
  25%  {color:rgb(69, 23, 235)}
  50%  {color:rgb(247, 7, 155)}
  75%   {color:rgb(69, 23, 235)}
  100% {color:red}
}

main 
{
  position: relative;
  width: 80rem;
  top: 5rem;
  background-color:$Scolorofinfo;;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  bottom: 17rem;
 
}


.player {
  flex: 50%;
  padding: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {

  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 400;
  margin-bottom: .3rem;
  @include Size_color(1px, $sizeofword,$Scolorofinfo);
  
}

.score {
  font-size: 6rem;
  font-weight: 300;
  color:white;
  padding-bottom: 17px;
}




.current {
  background-color:$colorOfpurpul;
  opacity: 0.8;
  border-radius: 9px;
  color:white;
  width: 59%;
  text-align: center;
 height: 13rem; 
}


.current-label {
  text-transform: uppercase;
  font-size: 1.8rem;
  color:white;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  background-color: white;
  padding: 0.7rem 2.5rem;
  border-radius: 1.2rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top:44rem;
}
.btn--roll {
  top: 37rem;
}


.btn:focus {
  outline: none;
}

img{
  position: absolute;
  left: 20%;
  top: 14.5rem;
  transform: translateX(-50%);
  height: 5rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}
.diceMe {

  left: 20%;

}

.diceMe2 {
 
  left: 30%;

}
.diceCom{
 
  left:70%;
}
.diceCom2 {
 
  left: 81%;

}


