@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 120vh;
  width: 220vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#pop-up {
  font-size: 1.8rem;
  position: absolute;
  z-index: 99 !important;
  width: 250px;
  padding: 60px;
  background-color: rgba(131, 10, 111, 0.933);
  color: white;
  border: solid 1px rgba(131, 10, 111, 0.933);
  box-shadow: 0px 0px 5px #500a2a, 5px 5px 5px #41082b;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

#btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  background-color: white;
  color: rgba(131, 10, 111, 0.933);
  border: solid 1px #410c33;
  cursor: pointer;
  /* ensure pointer events will apply to the button */
  pointer-events: all;
}

/* LAYOUT */
#side {
  position: relative;
  bottom: 50rem;
  left: 65rem;
  color: rgba(131, 10, 111, 0.933);
  font-size: 3rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  width: 50rem;
  border-radius: 9px;
  text-align: center;
  animation: myfirst 5s linear 3s infinite alternate;
}

@keyframes myfirst {
  0% {
    color: red;
  }
  25% {
    color: #4517eb;
  }
  50% {
    color: #f7079b;
  }
  75% {
    color: #073307;
  }
  100% {
    color: #f6f5f4;
  }
}

.info {
  position: relative;
  top: 30rem;
  right: 84rem;
  width: 90rem;
  height: 28rem;
  margin-left: 20px;
  padding-left: 1rem;
  background-color: rgba(131, 10, 111, 0.933);
  color: white;
  font-size: 1.3rem;
}

main {
  position: relative;
  width: 100rem;
  height: 52rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  bottom: 17rem;
}

.player {
  flex: 50%;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 400;
  margin-bottom: .3rem;
  color: rgba(131, 10, 111, 0.933);
  font-weight: bold;
}

.score {
  font-size: 6rem;
  font-weight: 300;
  color: #f1ecf7;
  padding-bottom: 17px;
}

.current {
  background-color: rgba(131, 10, 111, 0.933);
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 55%;
  text-align: center;
  height: 12rem;
  border-radius: 9px;
}

.current-label {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 44rem;
}

.btn--roll {
  top: 37rem;
}

.btn:focus {
  outline: none;
}

img {
  position: absolute;
  left: 20%;
  top: 14.5rem;
  transform: translateX(-50%);
  height: 5rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}

.diceMe {
  left: 20%;
}

.diceMe2 {
  left: 30%;
}

.diceCom {
  left: 70%;
}

.diceCom2 {
  left: 81%;
}
